<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletProgram</display-name>
  <servlet>
  <servlet-name>a1</servlet-name>
  <servlet-class>MyServlete</servlet-class>
  
  <init-param>
  <param-name>name</param-name>
  <param-value>Anuradha</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>a1</servlet-name>
  <url-pattern>/MyServlete</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>name</param-name>
  <param-value>Namrata</param-value>
  </context-param>
   <context-param>
  <param-name>phone</param-name>
  <param-value>Samsung</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>